body {
    background-color: rgb(34, 33, 33);
  }
  
  h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 90px;
    text-align: center;
    color: aliceblue;
    background-color: rgb(34, 33, 33);
  }
  
  h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    text-align: center;
    color: antiquewhite;
  }
  